name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 10
      uses: actions/setup-node@v2
      with:
        node-version: 10
    - name: Run linter
      run: |
        npm install
        npm run lint
